<h2><%= "Name: #{@mechanic.name}" %></h2>
<h4><%= "Years of experience: #{@mechanic.years_experience}" %></h4><br>

<h3>Mechanics Workload:</h3>
<% @mechanic.rides.each do |ride| %>
<ul class='rides'>
  <% if ride.open == true %>
    <li><%= ride.name %></li>
  <% end %>
</ul>
<% end %>

<%= link_to "Add Ride", "/mechanics/#{@mechanic.id}/rides/new" %>
